<section class="w-full max-w-[66rem] pt-6 mx-auto">
  <h1 class="intro-header text-center text-[14rem]" [innerHtml]="'talkaboat_intro' | translate"></h1>
  <h3 [innerHtml]="'talkaboat_sub' | translate" class="mx-auto text-[3rem] flex justify-between"></h3>
  <div class="flex justify-between px-5">
    <button class="mx-auto text-[3rem] w-[24rem] font-semibold bg-main-500 rounded ring-1 ring-shadow-500">Enter</button>
    <button class="mx-auto text-[2.6rem] w-[24rem]  font-semibold rounded bg-shadow-500  ring-1 ring-main-500">Pitch Deck</button>
  </div>
</section>
