.scrub-bar-height {
  @apply h-4 md:h-6 top-0;
  vg-scrub-bar-current-time, vg-scrub-bar-buffering-time {
    @apply h-2 md:h-3 top-0;
  }
}

.media-player-bg {
  @apply bg-red-600  z-30 fixed overflow-hidden left-[1rem] md:left-[1rem] bottom-[1rem] h-[8rem] md:h-[12rem] right-[1rem] transition-all ease-in-out duration-500;
}
.sidebar-open {
  @apply md:left-[26rem];
}
.clearfix:before,
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
}
.clearfix:after { clear: both; }

@mixin svg-style {
  svg {
    @apply fill-main-200 md:scale-100 md:duration-150 md:transition;
  }
  &:hover {
    svg {
      @apply md:scale-105 md:duration-150 md:transition md:-translate-y-1;
    }
  }
  &:active {
    svg {
      @apply md:scale-95 md:duration-150 md:transition;
    }
  }
}

.track-cover {
  img {
    @apply scale-100 duration-150 transition;
  }
  &:hover {
    img {
      @apply scale-[1.025] duration-150 transition;
    }
  }
}

.scrub-button {
  @apply rounded-full w-10 md:w-12 h-10 md:h-12 px-2 place-self-center transition-none;
  @include svg-style();
  &:focus {
    @apply ring-0;
  }
}


.play-pause-button {
  @apply rounded-full w-[3.5rem] md:w-[5rem] h-[3.5rem] md:h-[5rem] px-3 place-self-center transition-none;
  @include svg-style();
  &:focus {
    @apply ring-0;
  }
}


.minimized {
  @apply h-14 md:h-24 rounded-lg;
  .hide-minimized {
    @apply hidden;
  }

  .minimize {
    @apply h-0 w-0;
  }
}
