.scrub-bar-height {
  @apply h-[0.5rem] top-0 bg-opacity-0;
  vg-scrub-bar-current-time, vg-scrub-bar-buffering-time {
    @apply h-3;
  }
}
vg-scrub-bar {
  background-color: unset;
  position: absolute;
  margin-top: -15px;
}
vg-time-display {
  @apply h-fit w-fit text-sm pt-1;
}
.media-player-bg {
  @apply z-30 fixed overflow-hidden left-[0.625rem] md:left-[0.625rem] bottom-[0.625rem] h-[5rem] md:h-[7.5rem] right-[0.625rem] transition-all ease-in-out duration-500;
}

@mixin svg-style {
  svg {
    @apply fill-main-50 md:scale-100 md:duration-150 md:transition;
  }
  &:hover {
    svg {
      @apply md:scale-105 md:duration-150 md:transition md:-translate-y-1;
    }
  }
  &:active {
    svg {
      @apply md:scale-95 md:duration-150 md:transition;
    }
  }
}

.track-cover {
  img {
    @apply scale-100 duration-150 transition;
  }
  &:hover {
    img {
      @apply scale-[1.025] duration-150 transition;
    }
  }
}

.scrub-button {
  @apply rounded-full w-8 h-8 px-2 place-self-center transition-none;
  @include svg-style();
  &:focus {
    @apply ring-0;
  }
}


.play-pause-button {
  @apply rounded-full w-12 md:w-[3.125rem] h-12 md:h-[3.125rem] px-3 place-self-center transition-none;
  @include svg-style();
  &:focus {
    @apply ring-0;
  }
}

.playing {
  @apply animate-spin-alt;
}
