<a class="p-6 max-w-sm mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4 box-content overflow-hidden max-h-3">
    <div class="shrink-0">
        <img class="h-12 w-12" src="{{ episode.image }}" alt="assets/images/podcast.png">
    </div>
    <div>
        <div class="text-xl font-medium text-black">{{ episode.title }}</div>
        <!--<p class="text-slate-500">{{ episode.description }}</p> <!--TODO prüfen ob shortDescription vorhanden ist + abschneiden nach x Wörtern-->
    </div>
</a>