<div class="max-w-[80rem] mx-auto px-3 md:px-6">
  <h1 class="text-center">Monetize your content</h1>
  <p class="text-center">even before it exists!</p>
  <div class="mx-auto flex justify-center">
    <ul class="steps steps-vertical mt-5">
      <li class="step" [class.step-primary]="isSignIn"><a>Register or Sign in</a></li>
      <li class="step" [class.step-primary]="isKyced"><a>Complete KYC</a></li>
      <li class="step"><a>Create or Claim your Podcast</a></li>
      <li class="step"><a>Sign Contract</a></li>
      <li class="step"><a>Create Selling Proposal</a></li>
      <li class="step"><a>Ready for selling</a></li>
    </ul>
  </div>

</div>
