<ul *ngIf="searchResponse.results.length > 0" @list class="mx-auto max-w-[110rem] grid grid-cols-2  sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4 px-[2rem] ">
  <li @listItem *ngFor="let item of searchResponse.results" class="mb-5 flex flex-col bg-shadow-700 rounded-[1rem] shadow-lg">
    <div class="mx-auto w-full h-auto relative rounded-[1rem]">

      <div class="shadow-lg relative overflow-hidden rounded-[1rem]">
        <img [class.hidden]="item.isLoading" (load)="item.isLoading = false" class="w-full mx-auto h-full img-placeholder rounded-[1rem]" [src]="item.image">
        <button *ngIf="item.podcast" [class.hidden]="item.isLoading" class="btn opacity-30 hover:opacity-75 hover:bg-main-800 focus-visible:bg-main-800 focus-visible:opacity-75 absolute w-full h-full top-0 right-0 left-0 bottom-0 bg-shadow-500 rounded-[1rem]" (click)="play(item)">
          <img class="w-[5rem] h-[5rem] my-auto mx-auto img-placeholder rounded-[1rem]" src="./assets/images/player/play.png">
        </button>
        <a *ngIf="!item.podcast" [routerLink]="['/podcast']"  [queryParams]="{ 'pd': item.id }" queryParamsHandling="merge" [class.hidden]="item.isLoading" class="absolute w-full opacity-0 hover:bg-main-800 hover:opacity-75 focus-visible:bg-main-800 focus-visible:opacity-75 h-full top-0 right-0 left-0 bottom-0 rounded-[1rem]" (click)="play(item)">
        </a>
        <img *ngIf="item.isLoading" class="w-full mx-auto h-full img-placeholder rounded-[1rem]" src="./assets/gifs/loading.gif">
      </div>
      <div class="px-3 py-4">
        <h3 class="truncate"><a tabindex="0" [routerLink]="['/podcast' + (item.podcast ? '/episode' : '')]" [queryParams]="item.podcast ? { 'ep': item.id, 'pd': null} : { 'pd': item.id, 'ep': null }"
          queryParamsHandling="merge">{{ item.title_original }}</a></h3>
        <h5 *ngIf="item.podcast" class="mt-3 truncate"><a [routerLink]="['/podcast']" [queryParams]="{ 'pd': item.podcast.id, 'ep': '' }"
          queryParamsHandling="merge" tabindex="0">{{item.podcast.title_original}}</a></h5>
        <p class="text-gray-700 text-[1.2rem] line-clamp-3 max-h-[4.5rem] overflow-hidden text-ellipsis text-base mt-2" [innerHtml]="item.description_original ">
        </p>
      </div>


    </div>
    <div class="mt-auto pb-3 mx-auto">
      <button class="btn rounded-[1rem] px-8 py-3 bg-shadow-700 text-main-300 border-main-300 border-1 font-semibold" (click)="add(item)">Add</button>
    </div>


  </li>
</ul>
