<div [class.hidden]="!show" class="z-50">
    <div class="loader-overlay mx-auto relative">
        <div class="loader-background bg-shadow-700 bg-opacity-10">
          <div class="w-full h-full" *ngIf="show">
            <app-loading-animation></app-loading-animation>

          </div>
        </div>
        <div class="w-[20rem] absolute -bottom-10 h-[10rem]">
          <div class=" mx-auto">
            <button (click)="cancelSignRequest()">Cancel Request</button>
          </div>
        </div>
    </div>

</div>
