<div class="w-[90%] max-w-[41.25rem] mx-auto">
  <h1>Deutsches Impressum</h1>

  <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
  <p>Aboat Entertainment UG (haftungsbeschr&auml;nkt)<br />
    Homburger Str. 15<br />
    90513 Zirndorf</p>

  <p>Handelsregister: 19671<br />
    Registergericht: F&uuml;rth</p>

  <p><strong>Vertreten durch:</strong><br />
    Fabian Reichenberg</p>

  <h2>Kontakt</h2>
  <p>Telefon: +4915224443631<br />
    E-Mail: talk@aboat-entertainment.com</p>

  <h2>Umsatzsteuer-ID</h2>
  <p>Umsatzsteuer-Identifikationsnummer gem&auml;&szlig; &sect; 27 a Umsatzsteuergesetz:<br />
    DE347028533</p>

  <h2>EU-Streitschlichtung</h2>
  <p>Die Europ&auml;ische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit: <a
      href="https://ec.europa.eu/consumers/odr/" target="_blank"
      rel="noopener noreferrer">https://ec.europa.eu/consumers/odr/</a>.<br /> Unsere E-Mail-Adresse finden Sie oben im
    Impressum.</p>

  <h2>Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle</h2>
  <p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle
    teilzunehmen.</p>

  <hr>

  <h1>English Imprint </h1>

  <h2> Information in accordance with &sect; 5 TMG </h2>
  <p> Aboat Entertainment UG (limited liability) <br />
    Homburger Str. 15<br />
    90513 Zirndorf</p>

  <p> Commercial register: 19671 <br />
    Register court:  F&uuml;rth </p>

  <p> <strong> Represented by: </strong> <br />
    Fabian Reichenberg </p>

  <h2> Contact </h2>
  <p> Phone: +4915224443631 <br />
    Email: talk@aboat-entertainment.com </p>

  <h2> Sales tax ID </h2>
  <p> Sales tax identification number according to &sect; 27 a sales tax law: <br />
    DE347028533 </p>

  <h2> EU dispute settlement </h2>
  <p> The European Commission provides a platform for online dispute resolution (OS): <a
      href="https://ec.europa.eu/consumers/odr/" target="_ blank" rel="noopener noreferrer ">
      https://ec.europa.eu/consumers/odr/ </a>. <br /> You can find our email address above in the legal notice. </p>

  <h2> Consumer &shy; dispute &shy; settlement / universal &shy; arbitration &shy; office </h2>
  <p> We are neither willing nor obliged to participate in dispute settlement proceedings before a consumer arbitration
    board. </p>
</div>
