<!-- <div id="searchAd" class="flex justify-center mb-5" [script]="'//upgulpinon.com/1?z=5056596'">
</div> -->
<div class="mx-auto max-w-[80rem] px-[1rem]">
  <button aria-label="back navigation" *ngIf="canNavigateBack"
    class="btn max-w-[24rem] rounded-[1rem] px-5 py-3 bg-shadow-700 text-main-300 border-main-300 border-2"
    (click)="backNavigation()">{{ 'back_nav' | translate}}</button>

  <div class="rounded-[1rem] mt-5 w-full flex bg-shadow-700 p-5 transition-all duration-500" *ngIf="podcastData">
    <div
      class="flex-none w-[8rem] h-[8rem] md:w-[12rem] md:h-[12rem] rounded-[1rem] text-center overflow-hidden relative">
      <div class="relative overflow-hidden w-full h-full">
        <img [alt]="podcastData.title + ' portrait'" [class.hidden]="isLoading" (load)="isLoading = false"
          class="w-full mx-auto h-full img-placeholder rounded-[1rem]" [src]="podcastData.image">
        <button aria-label="play track" [class.hidden]="isLoading"
          class="btn opacity-30 hover:opacity-75 hover:bg-main-800 focus-visible:bg-main-800 focus-visible:opacity-75 absolute w-full h-full top-0 right-0 left-0 bottom-0 bg-shadow-500 rounded-[1rem]"
          (click)="play(undefined)">
          <img width="40" height="40" alt="play/pause" class="w-[66%] h-[66%] max-w-[5rem] max-h-[5rem] my-auto mx-auto img-placeholder rounded-[1rem]"
            src="./assets/images/player/play.png">
        </button>
      </div>

      <div *ngIf="isLoading"
        class="w-full absolute left-0 right-0 top-0 bottom-0 mx-auto h-full img-placeholder rounded-[1rem]">
        <app-loading-animation></app-loading-animation>
      </div>
    </div>
    <div class="ml-4 flex flex-col justify-between leading-normal">
      <div class="">
        <!-- <p class="text-sm text-gray-600 flex items-center">
            <svg class="fill-current text-gray-500 w-3 h-3 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <path d="M4 8V6a6 6 0 1 1 12 0v2h1a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-8c0-1.1.9-2 2-2h1zm5 6.73V17h2v-2.27a2 2 0 1 0-2 0zM7 6v2h6V6a3 3 0 0 0-6 0z" />
            </svg>
            Premium Content
          </p> -->
        <h4 class="text-main-500 font-bold">{{ podcastData.title }}</h4>

        <button aria-label="toggle description" class="transition-all duration-500 overflow-hidden mt-2 mb-0"
          (click)="isDescriptionOpen = !isDescriptionOpen">
          <p [class.description-open]="isDescriptionOpen"
            class="text-main-100 text-left text-gray-700 line-clamp-2 md:line-clamp-3"
            [innerHtml]="podcastData.description"></p>
        </button>
      </div>
      <div class="flex justify-start grid-cols-3 gap-3 mt-2">
        <div class="text-sm px-5 py-3 bg-shadow-500 rounded-[1rem]" *ngFor="let genre of genreNames">
          <p class="text-main-100 leading-none">{{ genre }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="mx-auto my-5 flex">
    <button (click)="donate()" class="btn primary max-w-[24rem] py-3 mx-auto">Donate</button>
  </div>
  <div id="container-de7d826c66c7e17cd0cddf6523e5509d" class="flex w-[33rem] md:w-full md:max-w-[76rem] max-h-[11rem] mx-auto justify-center mb-5">

    <iframe class="w-full" [src]=" (windowSize() >= 760 ? './assets/ads/728x90.html' : './assets/ads/320x50.html') | sanitizeUrl"></iframe>
  </div>
  <!-- Episodes -->
  <div *ngIf="podcastData && podcastData.episodes">
    <div class="card glass sm:p-5 p-0">
      <h4>{{ 'episodes' | translate }}</h4>
      <ul @list class="mt-3 sm:grid sm:grid-cols-4 lg:grid-cols-5 gap-4">
        <li @listItem class="mb-5 py-0 px-4 sm:p-0 flex flex-col bg-shadow-700 rounded-[1rem] shadow-lg"
          *ngFor="let episode of podcastData!.episodes">
          <div class="mx-auto w-full h-full flex sm:grid relative rounded-[1rem]">
            <!-- Image -->
            <div
              class="shadow-lg relative overflow-hidden rounded-[1rem] p-0 sm:min-w-none sm:max-w-none sm:max-h-full min-w-[4rem] max-w-[4rem] max-h-[4rem] my-auto sm:my-0">
              <img width="40px" height="40px" [alt]="episode.title + ' portrait'" (load)="episode.isLoading = false"
                class="w-full mx-auto h-full img-placeholder rounded-[1rem]" [src]="episode.image">
              <button aria-label="play track" *ngIf="episode.audio" [class.hidden]="episode.isLoading"
                class="btn opacity-30 hover:opacity-75 hover:bg-main-800 focus-visible:bg-main-800 focus-visible:opacity-75 absolute w-full h-full top-0 right-0 left-0 bottom-0 bg-shadow-500 rounded-[1rem]"
                (click)="play(episode)">
                <img width="40" height="40" alt="play/pause"
                  class="w-[66%] h-[66%] max-w-[5rem] max-h-[5rem] my-auto mx-auto img-placeholder rounded-[1rem]"
                  src="./assets/images/player/play.png">
              </button>
              <div *ngIf="episode.isLoading"
                class="w-full absolute left-0 right-0 top-0 bottom-0 mx-auto h-full img-placeholder rounded-[1rem]">
                <app-loading-animation></app-loading-animation>
              </div>
            </div>
            <!-- Title -->
            <div class="px-3 grow w-full sm:mt-3 flex">
              <h6 class="line-clamp-2 overflow-hidden my-auto sm:my-0 text-ellipsis"><a tabindex="0" [routerLink]="['./episode']"
                  [queryParams]="{ 'ep': episode.id, 'pd': null}" queryParamsHandling="merge">{{ episode.title }}</a>
              </h6>
            </div>


            <div class="flex sm:inline-block flex-nowrap w-full sm:mt-auto">
              <!-- Length -->
              <p class="px-3 text-base my-auto text-center sm:text-left">
                {{ episode.audio_length_sec | time: 'hours' }}
              </p>
              <!-- Published -->
              <p class="px-3 text-base my-auto text-center sm:text-left">
                {{ episode.pub_date_ms | time: 'date' }}
              </p>
              <!-- Add to Playlist -->
              <div class="sm:ml-none sm:pb-3 ml-auto sm:mx-auto my-auto sm:px-3 sm:mt-3">
                <button aria-label="add to playlist or library"
                  class="btn rounded-[1rem] px-4 sm:px-8 py-3 bg-shadow-500 text-main-300 border-main-300 border-1 font-semibold"
                  (click)="addToPlaylist(episode)">
                  <span>Add</span>
                </button>
              </div>
            </div>

          </div>



        </li>
      </ul>

      <div class="mx-auto w-full max-w-[40rem]">
        <button aria-label="Load more episodes" class="btn rounded-[1rem] px-4 sm:px-8 py-3 border-shadow-300 border-1 font-semibold w-full" (click)="loadMoreEpisodes()">{{ 'load_more' | translate }}</button>
      </div>
    </div>
  </div>

</div>
