<div class="fixed left-0 top-0 right-0 min-h-screen flex items-center justify-center">

  <button class="background fixed top-0 bottom-0 left-0 right-0 -z-10" (click)="close.emit(false)">

  </button>
  <div class="modal sm:w-[25rem] w-[90%] relative mx-auto bg-shadow-500 py-3 px-5 z-10 -mt-[15.625rem] rounded-[0.625rem]" *ngIf="poolInfo">
    <button class="absolute -right-[0.625rem] -top-[0.625rem] w-[1.875rem] h-[1.875rem] rounded-full bg-shadow-600 border-shadow-400 border-2" (click)="close.emit(false)">X</button>
    <h3 class="mb-3 mt-3">{{ (isWithdrawal ? "withdrawal_modal" : "stake_modal") | translate }}</h3>
    <b class="mb-2">
      <span *ngFor="let symbol of this.poolInfo.symbols; let i = index">{{symbol}}<span
      *ngIf="this.poolInfo.symbols?.length == 2 && i == 0">-</span></span>
    <span *ngIf="this.poolInfo.symbols?.length == 2"> LP </span>
      <span> - {{ poolInfo.lockPeriod }} {{ 'days' | translate}}</span>
  </b>

    <br>
    <div class="flex mt-2">
      {{ "balance" | translate }}
      <button class="rounded-[0.625rem] mb-3 ml-auto border-b-2 border-shadow-700 py-1 px-2" (click)="setAmountToBalance()">{{ (isWithdrawal ? poolInfo!.amount.toFixed(6) : walletBalance.formatted.toFixed(6)) | number }}</button>
    </div>

    <form class="mt-1 mb-3" [formGroup]="modalForm">
      <label hidden for="amount">{{ "amount" | translate }}</label>
      <input id="amount" name="amount" type="number" [value]="amount" class="secondary py-2 w-full text-right rounded-[0.625rem] px-3 text-main-100" formControlName="amount" required>
    </form>
    <div class="flex">
      <button [class.disabled]="!modalForm.valid" class="mt-3 mx-auto bg-shadow-300 px-3 py-2" (click)="isWithdrawal ? withdraw() : stake()">
        {{ (isWithdrawal ? "withdrawal_button" : "stake_button") | translate }}
      </button>
    </div>

  </div>

</div>


