<section class="mt-10 w-full md:max-w-[96rem]  px-5 mx-auto">
  <div class="card glass">
    <h2 [innerHtml]=" 'ecosystem_home' | translate "></h2>
    <h4 [innerHtml]=" 'ecosystem_token_home' | translate "></h4>
    <img width="550" height="360" loading="lazy" class="mt-8 w-full max-w-[55rem] mx-auto hover-up" src="./assets/images/infos/ecosystem.png"  alt="aboat ecosystem info graphic" />
    <div class="grid mt-3 text-left grid-cols-3 gap-2">
      <div class="-mt-[6rem] h-[fit-content] hover-up bg-shadow-700 bg-opacity-75  p-3 rounded-[1rem]">
        <h4 class="text-main-300">{{ 'play_home' | translate }}</h4>
        <p class="">{{ 'play_home_sub' | translate }}</p>
      </div>
      <div class=" bg-shadow-700 hover-up  h-[fit-content] bg-opacity-75  p-3 rounded-[1rem]">
        <h4 class="text-main-300">{{ 'consume_home' | translate }}</h4>
        <p class="">{{ 'consume_home_sub' | translate }}</p>
      </div>
      <div class="-mt-[6rem] hover-up  h-[fit-content] bg-shadow-700 bg-opacity-7 p-3 rounded-[1rem]">
        <h4 class="text-main-300">{{ 'gamefi_home' | translate }}</h4>
        <p class="">{{ 'gamefi_home_sub' | translate }}</p>
      </div>
    </div>
  </div>
</section>
