<!-- episoden nach themen? -->
<!-- aktuell aktiv gehörte episoden - andere hören aktuell...? -->
<!-- von freunden? -->
<ng-container *ngIf="loggedIn then loggedInSection else showLoginSection"></ng-container>
<ng-container *ngIf="recommendationEpisodes && recommendationEpisodes.length > 0">
    <section>
        <h2>Community episode recommendations</h2>
        <app-favourite-list [episodes]="recommendationEpisodes"></app-favourite-list>
    </section>
</ng-container>
<ng-container *ngIf="brandnewEpisodes && brandnewEpisodes.length > 0">
    <section>
        <h2>Brandnew episodes</h2>
        <app-favourite-list [episodes]="brandnewEpisodes"></app-favourite-list>
    </section>
</ng-container>
<ng-template #loggedInSection>
    <section>
        <h2>Favourites</h2>
        <app-favourite-list [episodes]="userLibraryEpisodes" *ngIf="userLibraryEpisodes"></app-favourite-list>
        <p *ngIf="userLibraryEpisodes == null">It looks like you dont have any favourites yet.</p>
        <button class="btn rounded-full px-8 py-4 mt-4 max-w-[120px]">Explore episodes</button>
    </section>
</ng-template>
<ng-template #showLoginSection>
    <section>
        <h2>Favourites</h2>
        <p>Please login to view your favourites</p>
        <button class="btn rounded-full px-8 py-4 mt-4 max-w-[120px]">Login</button>
    </section>
</ng-template>
