<nav [class.open]="isSidebarOpen"
  class="transition-all ease-in-out duration-500 fixed left-0 md:left-[3rem] top-[6.5rem] md:top-[7.5rem] md:rounded-[1rem] overflow-hidden rounded-r-[2rem] w-[0rem] md:w-[4.5rem] bottom-[1rem] text-[1.3rem] bg-shadow-600 font-semibold">
  <div>
    <ul [class.w-[26rem]]="isSidebarOpen" class="py-5">
      <li><a [routerLink]="['/shipyard']" class="flex hover-up" [queryParams]="{ 'tokenA': null, 'tokenB': null }">
          <img src="./assets/images/sidebar/home.svg" />
          <span [class.hidden]="!isSidebarOpen" class="min-w-[20rem]">
            {{ 'home' | translate}}
          </span>
        </a></li>
      <li><a [routerLink]="['/swap']" class="flex hover-up" queryParamsHandling="">
          <img src="./assets/images/sidebar/swap.svg" />
          <span [class.hidden]="!isSidebarOpen" class="min-w-[20rem]">
            {{ 'swap' | translate}}
          </span>
        </a></li>
      <li><a [routerLink]="['/lounge']" class="flex hover-up" queryParamsHandling="">
          <img src="./assets/images/sidebar/lounge.svg" />
          <span [class.hidden]="!isSidebarOpen" class="min-w-[20rem]">
            {{ 'lounge' | translate}}
          </span>
        </a></li>
    </ul>
    <!-- BOTTOM AREA -->
    <ul [class.min-w-[20rem]]="isSidebarOpen" class="absolute  bottom-0 py-5">
      <li><a [routerLink]="['/info']" class="flex hover-up" queryParamsHandling="">
          <img src="./assets/images/sidebar/info.svg" />
          <span [class.hidden]="!isSidebarOpen">
            {{ 'further_information' | translate}}
          </span>
        </a>
      </li>
      <li><a [routerLink]="['/tasks']" class="flex hover-up" queryParamsHandling="">
          <img src="./assets/images/sidebar/tasks.svg" />
          <span [class.hidden]="!isSidebarOpen" class="min-w-[20rem]">
            {{ 'tasks' | translate}}
          </span>
        </a></li>
      <li><a [routerLink]="['/gift']" class="flex hover-up" queryParamsHandling="">
          <img src="./assets/images/sidebar/gift.svg" />
          <span [class.hidden]="!isSidebarOpen" class="min-w-[20rem]">
            {{ 'gift' | translate}}
          </span>
        </a></li>
      <li><button (click)="toggleLang()" class="flex hover-up text-left font-semibold">
          <img src="./assets/images/sidebar/globe.svg" />
          <span [class.hidden]="!isSidebarOpen" class="min-w-[20rem]">
            {{ 'lang' | translate}}
          </span>
        </button></li>
    </ul>
  </div>

</nav>
