<nav [class.open]="isSidebarOpen"
  class="z-40 transition-all ease-in-out duration-500 fixed left-0 md:left-[0.625rem] top-[4.0625rem] md:top-[5.3125rem] md:rounded-[0.625rem] overflow-hidden rounded-r-[1.25rem] w-[0rem] md:w-[2.8125rem] bottom-[0.625rem] base font-semibold text-[0.875rem]" [isActive]="isClickOutsideActive" [onlyMobile]="true" (clickOutside)="closeSidebar()">
  <div>
    <ul [class.w-[16.25rem]]="isSidebarOpen" class="py-5">
      <li class="hover-up md:hidden"><a [routerLink]="['']" class="flex" [queryParams]="{ 'tokenA': null, 'tokenB': null }">
        <img src="./assets/images/sidebar/a.png"  alt="aboat logo"/>
        <span [class.hidden]="!isSidebarOpen">
          Talkaboat
        </span>
      </a></li>
      <li class="hover-up"><a [routerLink]="['/shipyard']" class="flex w-fit" [queryParams]="{ 'tokenA': null, 'tokenB': null }">
          <img src="./assets/images/sidebar/home.png"  alt="shipyard"/>
          <span [class.hidden]="!isSidebarOpen" >
            {{ 'home' | translate}}
          </span>
        </a></li>
      <li class="hover-up"><a [routerLink]="['/swap']" class="flex" queryParamsHandling="">
          <img src="./assets/images/sidebar/swap.png"  alt="swap"/>
          <span [class.hidden]="!isSidebarOpen" >
            {{ 'swap' | translate}}
          </span>
        </a></li>
      <li class="hover-up"><a [routerLink]="['/lounge']" class="flex" queryParamsHandling="">
          <img src="./assets/images/sidebar/lounge.png" alt="lounge" />
          <span [class.hidden]="!isSidebarOpen" >
            {{ 'lounge' | translate}}
          </span>
        </a></li>
        <li class="hover-up"><a [routerLink]="['/mediacenter/favorites']" class="flex" queryParamsHandling="">
          <img src="./assets/images/sidebar/playlist.png" alt="favorites" />
          <span [class.hidden]="!isSidebarOpen" >
            {{ 'mediacenter' | translate}}
          </span>
        </a></li>
        <!--
        <li class="hover-up"><a [routerLink]="['/mediacenter/playlists']" class="flex" queryParamsHandling="">
          <img src="./assets/images/sidebar/lounge.png" alt="playlists" />
          <span [class.hidden]="!isSidebarOpen" >
            {{ 'playlists' | translate}}
          </span>
        </a></li>
        -->
    </ul>
    <!-- BOTTOM AREA -->
    <ul [class.min-w-[12.5rem]]="isSidebarOpen" class="absolute  bottom-0 py-5">
      <li class="hover-up"><a [routerLink]="['/info']" class="flex" queryParamsHandling="">
          <img src="./assets/images/sidebar/info.png"  alt="info" />
          <span [class.hidden]="!isSidebarOpen">
            {{ 'further_information' | translate}}
          </span>
        </a>
      </li>
      <li class="hover-up"><a [routerLink]="['/tasks']" class="flex" queryParamsHandling="">
          <img src="./assets/images/sidebar/tasks.png"  alt="tasks" />
          <span [class.hidden]="!isSidebarOpen" >
            {{ 'tasks' | translate}}
          </span>
        </a></li>
      <li class="hover-up"><a [routerLink]="['/gift']" class="flex" queryParamsHandling="">
          <img src="./assets/images/sidebar/gift.png"  alt="gift" />
          <span [class.hidden]="!isSidebarOpen" >
            {{ 'gift' | translate}}
          </span>
        </a></li>
    </ul>
  </div>

</nav>
