<div class="background fixed bottom-0 right-0 top-0 left-0 overflow-hidden">
  <div class="logo-background animate-floating transition-all ease-in-out left-[10%] duration-500 overflow-hidden">

  </div>
  <div class="logo-background-blur overflow-hidden">
  </div>
</div>



<div class="z-40">
  <app-header></app-header>
  <app-sidebar></app-sidebar>

</div>


<div tabindex="0" class="z-0 left-0 focus-visible:outline-none md:left-[4.5rem] transition-all h-[fit-content] md:pl-[4.5rem] ease-in-out duration-500 overflow-hidden">
  <div class="min-h-screen md:pt-[8.5rem] pt-[6.5rem] pb-[15rem]">
    <div [@routeAnimations]="prepareRoute(outlet)" class="relative z-10">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </div>

  <app-footer></app-footer>
</div>


<app-loading></app-loading>
<app-media-player></app-media-player>

