<section class="w-auto md:max-w-[96rem]  pt-3 px-5 mx-auto rounded-[1rem]">
  <div class="flex w-full">
    <div class=" pr-5 max-w-[56rem] w-fit flex-auto">
      <h1 class="intro-header text-left text-[5rem] md:text-[8rem]" [innerHtml]="'talkaboat_intro' | translate"></h1>
      <div class="flex justify-between max-w-[45rem]">
        <h3 [innerHtml]="'talkaboat_sub' | translate" class="mt-10 px-3 w-full flex justify-between"></h3>
      </div>


    </div>

    <div class="landing max-h-[30rem] h-[20rem] my-auto sm:h-full mx-auto absolute right-[1rem] top-[6rem] sm:flex -z-10">
      <img class="h-full w-auto my-auto mx-auto hover-up max-h-[30rem]" width="352" height="445" src="./assets/images/podcast_2.png" alt="boat logo">
    </div>
  </div>

  <h4 [innerHtml]="'info_description' | translate" class="px-3 mb-10 max-w-[60rem]"></h4>
  <div class="flex  justify-start mt-10 px-3">
    <a tabindex="0" [routerLink]="['/register']"
      class="text-center text-[2rem] mr-3 md:mr-10 flex items-center w-[16rem] py-3 md:w-[24rem] rounded-[1rem] font-semibold bg-main-500 ring-1 ring-shadow-700"><span
        class="mx-auto">{{ 'register_now' | translate }}</span></a>
    <a tabindex="0" [routerLink]="['/pitch']"
      class="text-center text-[2rem] w-[16rem] py-3 flex items-center md:w-[24rem] font-semibold rounded-[1rem] bg-shadow-500  ring-1 ring-main-500"><span
        class="mx-auto">Pitch Deck</span></a>
  </div>

</section>

<section class="mt-[10rem] w-full md:max-w-[96rem]  mx-auto px-5 text-center">
  <div class="w-full flex justify-between mt-4">
    <button [class.active-selection]="!isCreator" (mouseover)="isCreator = false" (click)="isCreator = false" class="mx-auto text-[2rem] w-[16rem] py-3 px-5 md:w-[24rem] font-semibold rounded-[1rem] bg-shadow-500  ring-1 ring-main-500">
      <img width="256" height="256"  src="./assets/images/home/fan.png">
      <p>{{ 'home_fan' | translate }}</p>
    </button>
    <button [class.active-selection]="isCreator" (mouseover)="isCreator = true" (click)="isCreator = true" class="mx-auto text-[2rem] w-[16rem] py-3 px-5 md:w-[24rem] font-semibold rounded-[1rem] bg-shadow-500  ring-1 ring-main-500">
      <img width="256" height="256"  src="./assets/images/home/creator.png">
      <p> {{ 'home_creator' | translate }}</p>
    </button>
  </div>
</section>



<div *ngIf="isCreator">
  <app-creator-home></app-creator-home>
</div>

<div *ngIf="!isCreator">
  <app-fan-home></app-fan-home>
</div>

<section class="mt-10 w-full md:max-w-[96rem]  mx-auto px-5">
  <div class="card glass">
    <h2 [class.creator]="isCreator" [class.fan]="!isCreator" [innerHtml]=" 'equality_home' | translate "></h2>
    <h4 [innerHtml]=" 'equality_home_benefit' | translate"></h4>
    <img width="910" height="295" loading="lazy" class="mt-8 w-full hover-up" src="./assets/images/infos/reward_system.png"  alt="reward system info graphic" />
  </div>
</section>

<section class="mt-10 w-full md:max-w-[96rem]  mx-auto px-5">
  <div class="card glass">
    <h2 [class.creator]="isCreator" [class.fan]="!isCreator" [innerHtml]=" 'team_home' | translate"></h2>
    <h4 [innerHtml]="'team_feedback_home' | translate"></h4>
    <ul @list class="mt-10 grid grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-3">
      <li @listItem *ngFor="let item of team" class="mb-5 flex flex-col bg-shadow-700 rounded-[1rem] shadow-lg hover-up">
        <div class="mx-auto w-full h-auto relative rounded-[1rem]">

          <div class="shadow-lg relative overflow-hidden rounded-[1rem]">
            <img width="200" height="200" loading="lazy" [class.hidden]="item.isLoading" (load)="item.isLoading = false"  [alt]="item.name +' portrait'"
              class="w-full mx-auto h-full hover-up rounded-[1rem]" [src]="item.image">
            <a [href]="item.linkedin"
              class="absolute w-full opacity-0 hover:bg-main-800 hover:opacity-75 focus-visible:bg-main-800 focus-visible:opacity-75 h-full top-0 right-0 left-0 bottom-0 rounded-[1rem]"></a>
              <div *ngIf="item.isLoading" class="w-full absolute left-0 right-0 top-0 bottom-0 mx-auto h-full rounded-[1rem]">
                <app-loading-animation></app-loading-animation>
              </div>
          </div>
          <div class="px-3 py-4">
            <h3 class="truncate">{{ item.name }}</h3>

            <h5 class="truncate">{{ item.role }}</h5>
          </div>


        </div>
    </ul>
  </div>
</section>
