<div class="relative">
  <button aria-label="toggle filter-menu" class="flex absolute inset-y-0 left-0 items-center rounded-[1rem] w-[3rem] md:w-[4rem]">
    <img alt="filter" class="w-4 h-4 md:h-7 md:w-7 mx-auto rounded-[1rem] text-main-500" src="./assets/images/header/filter.svg" />
  </button>
  <form>
    <input type="text"
    class="bg-shadow-700 px-[3.5rem] rounded-[1rem] md:px-[4.5rem] h-[3rem] md:h-[4.5rem] w-[20rem] md:w-[30rem] lg:w-[40rem] text-main-100 font-semibold"
    [placeholder]="'search_podcast_placeholder' | translate" [formControl]="searchTerm" />
  <button aria-label="search" type="submit" (click)="search()" class="flex rounded-[1rem] absolute inset-y-0 right-0 items-center w-[3rem] md:w-[4rem]">
    <svg class="w-5 h-5 md:h-10 md:w-10 mx-auto text-main-500 rounded-[1rem]" fill="currentColor" viewBox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd"
        d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
        clip-rule="evenodd"></path>
    </svg>
  </button>
  </form>
</div>
