<div class="mx-auto max-w-[80rem] bg-shadow-700">
  <div class="grid grid-cols-3 gap-2">
    <div class="col-span-2">
      <button aria-label="back navigation" *ngIf="canNavigateBack" (click)="backNavigation()">Back</button>
      <div class="grid grid-cols-3 gap-2">
        <div>
          <img width="150" height="150" loading="lazy"
            class="mt-8 sm:mt-0 sm:order-2 px-3 max-w-[15rem] mx-auto w-full hover-up" src="./assets/images/podcast.png"
            alt="Podcast-Episode image" />
        </div>
        <div class="col-span-2">
          <h3>Hier Steht der Name der Episode</h3>
          <p>Veröffentlich am 40.20.1600</p>
          <span>Hier steht die Beschreibung der Podcast Episode</span>
          <a>Hier kommst du zur Podcast-Übersicht aller Episoden</a>
        </div>
      </div>
    </div>
    <div class="overflow-y-auto h-64">
      <!--TODO align right as kasten-->
      <app-episode-list-view [episodes]="episodes"></app-episode-list-view>
    </div>
  </div>
</div>

<div>
  <br>
  <hr>
  <app-comments-list></app-comments-list>
</div>