<div class="w-auto md:max-w-[96rem]  pt-3 px-0 sm:px-10 mx-auto mt-10 sm:mt-0 rounded-[0.625rem]">
  <h1>Settings</h1>
  <div class="mt-5">
    <h5>Wallets</h5>
      <button (click)="addWallet()" type="submit" class="btn-primary px-3 my-5 py-2">Connect new wallet</button>
    <div class="flex justify-between max-w-md p-2 rounded-md" [class.bg-shadow-500]="even" *ngFor="let wallet of wallets; let even = even">
      <span>{{ wallet }}</span>
      <button class="btn-error px-2 rounded-md" (click)="removeWallet(wallet)">X</button>
    </div>
  </div>
  <div class="mt-5">
    <h5>Connect Social Account</h5>
    <div class="grid grid-cols-2 gap-4 max-w-[15rem]">
      <button aria-label="connect google" class="mt-10 mx-auto text-base py-2 font-semibold bg-main-800 rounded ring-1 ring-shadow-500 w-full" (click)="connectWithGoogle()"><img class="h-8 mx-auto" src="./assets/images/social/google_color.png"/></button>
      <button aria-label="connect facebook" class="mt-10 mx-auto text-base py-2 font-semibold bg-main-800 rounded ring-1 ring-shadow-500 w-full" (click)="connectWithFacebook()"><img class="h-8 mx-auto" src="./assets/images/social/facebook_color.png"/></button>
      <button class="btn-error px-2 rounded-md col-span-2" (click)="disconnectSocialAccount()">Disconnect All</button>

    </div>

  </div>
</div>
