<div #contextMenu
  (clickOutside)="deactivateContextMenu()"
  [class.invisible]="!contextMenuActive"
  [style.top.px]="offsetTop"
  [style.left.px]="offsetLeft"
  class="absolute bottom-auto right-auto z-50 bg-fan-700">
  <ul class="list-none">
    <li>Lorem ipsum dolor sit amet.</li>
    <li>Dignissimos eos amet delectus tempore?</li>
    <li>Labore eaque porro sint adipisci.</li>
    <li>Possimus quod deserunt quo quos!</li>
    <li>Iste corrupti illo ratione mollitia?</li>
    <li>Reprehenderit perspiciatis quaerat iure magni.</li>
  </ul>
</div>
