<section class="w-auto md:max-w-[41.25rem]  p-5 mx-auto rounded-[0.625rem] card glass">
  <div class="grid grid-cols-2 gap-10">

    <a class="btn w-full h-full inline-block cursor-pointer" href="https://docs.aboat-entertainment.com/" target="_blank" rel="noopener noreferrer nofollow">
      <div class="w-full h-full flex text-center">
        <span class="my-auto w-full">Whitepaper</span>
      </div>
    </a>
    <a class="btn w-full h-full inline-block cursor-pointer" href="https://www.canva.com/design/DAE4K_W2uRo/Jh0id862iLE2WA5WqFNV5Q/view" target="_blank" rel="noopener noreferrer nofollow">
      <div class="w-full h-full flex text-center">
      <span class="my-auto w-full">Pitch Deck</span>
    </div></a>
  </div>
</section>
