<section class="w-auto md:max-w-[66rem]  p-5 mx-auto rounded-[1rem] card glass">
  <div class="grid grid-cols-2 gap-10">

    <a class="btn w-full h-full inline-block cursor-pointer" [href]="'whitepaper_url' | translate">
      <div class="w-full h-full flex text-center">
        <span class="my-auto w-full">Whitepaper</span>
      </div>
    </a>
    <a class="btn w-full h-full inline-block cursor-pointer">
      <div class="w-full h-full flex text-center">
      <span class="my-auto w-full">Pitch Deck</span>
    </div></a>
  </div>
</section>
