@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '~ngx-toastr/toastr';
@import './assets/styles/default.scss';
@import './assets/styles/elements.scss';
// @import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
// @import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

.gradient-background {
  background: linear-gradient(0deg,#011e47,#0e1825,#0a111a,#011e47);
  background-size: 240% 240%;
  animation: gradient-animation 4s ease infinite;
}

.owl-theme .owl-nav [class*=owl-] {
  min-width: 30px;
  min-height: 30px;
  margin: 10px !important;
  font-size: 2rem !important;
    background-color: #011e47 !important;
}


/* (A) FIXED WRAPPER */
.hwrap {
  overflow: hidden; /* HIDE SCROLL BAR */
}

/* (B) MOVING TICKER WRAPPER */
.hmove { display: flex; }

/* (C) ITEMS - INTO A LONG HORIZONTAL ROW */
.hitem {
  flex-shrink: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  word-wrap: unset;
  word-break: keep-all;
}

/* (D) ANIMATION - MOVE ITEMS FROM RIGHT TO LEFT */
/* 4 ITEMS -400%, CHANGE THIS IF YOU ADD/REMOVE ITEMS */
@keyframes tickerh {
  0% { transform: translate3d(130%, 0, 0); }
  100% { transform: translate3d(-130%, 0, 0); }
}
.hmove { animation: tickerh linear 8s infinite; }
.hmove:hover { animation-play-state: paused; }




@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@mixin ellipsis-text-to-lines($line-count) {
  @apply overflow-hidden line-clamp-1 text-ellipsis;
}

.text-ellipsis-1 {
  @include ellipsis-text-to-lines(1);
}

.text-ellipsis-2 {
  @include ellipsis-text-to-lines(2);
}

.text-ellipsis-3 {
  @include ellipsis-text-to-lines(3);
}

.dropdown-list {
  background:  #0E1825 !important;
  .filter-textbox {
    input {
      @apply bg-shadow-500 h-[1.875rem];
    }
  }
  li {
    div {
      color: whitesmoke !important;

    }
  }
}

ng-multiselect-dropdown {
  .multiselect-dropdown {
    .dropdown-btn {
      @apply border-info;
      padding-right: 20px !important;
    }
    .dropdown-btn, .dropdown-list, li {
      @apply border-info;
    }
    li.multiselect-item-checkbox:hover {
      background-color: #304F79;
    }
    .selected-item {
      max-width: none !important;
    }
  }
}

.img-placeholder {
  background:
    url(./assets/gifs/loading.gif)
    no-repeat
    left center;
}


.web3modal-modal-lightbox {
  z-index: 60 !important;
  pointer-events: none;
}
