@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
::-webkit-scrollbar {
  width: 7.5px;
  background-color: #64A4FD;
}
::-webkit-scrollbar-track {
  background-color: #13252570;
}
::-webkit-scrollbar-thumb {
  background-color: #64A4FD;
  border: 1px solid transparent;
  background-clip: content-box;
  padding-left: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #4b79a194;
}
body {
  @apply ease-in-out duration-500 transition-all;
}

a, button, input {
  @apply hover:outline-none hover:ring-0 focus-visible:outline-none focus:ring-main-300 focus:ring-1 ease-in-out duration-500 transition-all;
}

.btn {
  @apply rounded ring-shadow-500 ring-1;
}

.hover-up {
  @apply relative top-0 hover:top-[-0.3rem];
}

h1 {
  @apply font-semibold text-[2.6rem] md:text-[3.2rem];
}

h2 {
  @apply font-semibold text-[2.1rem] md:text-[2.4rem];
}

h3 {
  @apply font-semibold text-[1.472rem] md:text-[1.872rem];
}

h4 {
  @apply font-semibold text-[1.2rem] md:text-[1.6rem];
}

h5 {
  @apply font-semibold text-[1.128rem] md:text-[1.328rem];
}

h6 {
  @apply font-semibold text-[1.072rem];
}

