::-webkit-scrollbar {
  width: 7.5px;
  background-color: #64A4FD;
}
::-webkit-scrollbar-track {
  background-color: #13252570;
}
::-webkit-scrollbar-thumb {
  background-color: #64A4FD;
  border: 1px solid transparent;
  background-clip: content-box;
  padding-left: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #4b79a194;
}

html, body {
  overflow-x: hidden;
  overscroll-behavior-y: none;
  scroll-behavior: smooth !important;
  @apply ease-in-out duration-500 transition-all;
}

a, button, input {
  @apply hover:outline-none hover:ring-0 focus-visible:outline-none focus:ring-info focus:ring-1 ease-in-out duration-500 transition-all;
}

.hover-up {
  @apply relative top-0 hover:top-[-0.3rem] transition-all duration-700;
}

body {
  @apply text-[1rem] md:text-[1rem];
}

h1 {
  @apply font-semibold text-[2rem] md:text-[2.25rem];
}

h2 {
  @apply font-semibold text-[1.75rem] md:text-[2rem];
}

h3 {
  @apply font-semibold text-[1.5rem] md:text-[1.75rem];
}

h4 {
  @apply font-semibold text-[1.25rem] md:text-[1.5rem];
}

h5 {
  @apply font-semibold text-[1.1rem] md:text-[1.25rem];
}

h6 {
  @apply font-semibold text-[1rem] md:text-[1.1rem];
}

section {
  padding: 4px !important;
}

.center-section {
  @apply max-w-[75rem] mx-auto;
}

.full-section {
  @apply w-full;
}
