<div class="max-w-[50rem] mx-auto px-3 md:px-6">
  <h1 class="text-primary">NFT Marketplace</h1>
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-5 mt-3">
    <div class="card bg-accent shadow-xl hover-up">
      <figure class="">
        <img src="./assets/images/market/buy.svg" alt="Shoes" class="rounded-xl w-full px-5 py-8" />
      </figure>
      <div class="card-body items-center text-center text-accent-content">
        <h2 class="card-title">Buyer</h2>
        <p>Discover creator nfts and become a private publisher</p>
        <div class="card-actions">
          <a tabindex="0" routerLink="./buy" class="btn btn-base-100">Buy NFTs</a>
        </div>
      </div>
    </div>
    <div class="card bg-secondary shadow-xl hover-up">
      <figure class="">
        <img src="./assets/images/market/sell.svg" alt="Shoes" class="rounded-xl w-full pt-5 px-5" />
      </figure>
      <div class="card-body items-center text-center text-secondary-content">
        <h2 class="card-title justify-start">Seller</h2>
        <p>Sell your content before it's published to raise money for production and promotion</p>
        <div class="card-actions">
          <a tabindex="0" routerLink="./sell" class="btn btn-base-100">Sell NFTs</a>
        </div>
      </div>
    </div>

  </div>
</div>
